body {
  margin: 20px 0 35px 0;
  height: auto;
}

.menu {
  margin-bottom: 20px;
}

.popup {
  max-width: 400px !important;
}


.ui.cards>.card>.image {
	margin: 0 auto;
	width: 200px;
	height: 220px;
}

.ui.button.orderButton {
	display: block;
	margin: 0 auto;
}

.price {
	font-size: 20px !important;
    line-height: 20px;
    color: #f47b32 !important;
    font-weight: 700 !important;
    padding: 0;
}